# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/orely.iml
.idea/vagrant.xml
.idea/workspace.xml
.vagrant/
